@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url("../fonts/Helvetica Neue.eot");
  src: url("../fonts/Helvetica Neue.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue.woff2") format("woff2"), url("../fonts/Helvetica Neue.woff") format("woff"), url("../fonts/Helvetica Neue.svg#Helvetica Neue") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("../fonts/Helvetica Neue Medium.eot");
  src: url("../fonts/Helvetica Neue Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Medium.woff2") format("woff2"), url("../fonts/Helvetica Neue Medium.woff") format("woff"), url("../fonts/Helvetica Neue Medium.svg#Helvetica Neue Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("../fonts/Helvetica Neue Light.eot");
  src: url("../fonts/Helvetica Neue Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Light.woff2") format("woff2"), url("../fonts/Helvetica Neue Light.woff") format("woff"), url("../fonts/Helvetica Neue Light.svg#Helvetica Neue Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url("../fonts/HelveticaNeue-Thin.eot");
  src: url("../fonts/HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Thin.woff") format("woff"), url("../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../fonts/Helvetica Neue Bold.eot");
  src: url("../fonts/Helvetica Neue Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Bold.woff") format("woff"), url("../fonts/Helvetica Neue Bold.svg#Helvetica Neue Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.alignleft {
  text-align: left !important; }

.alignright {
  text-align: right !important; }

.center {
  margin: 0 auto;
  text-align: center; }

.leftclear {
  float: left;
  clear: both;
  width: 100%;
  text-align: left; }

.block {
  display: block; }

.padding.p0 {
  padding: 0px !important; }
.padding.p80 {
  padding: 80px !important; }
.padding.p75 {
  padding: 75px !important; }
.padding.p70 {
  padding: 70px !important; }
.padding.p65 {
  padding: 65px !important; }
.padding.p60 {
  padding: 60px !important; }
.padding.p55 {
  padding: 55px !important; }
.padding.p50 {
  padding: 50px !important; }
.padding.p45 {
  padding: 45px !important; }
.padding.p40 {
  padding: 40px !important; }
.padding.p35 {
  padding: 35px !important; }
.padding.p30 {
  padding: 30px !important; }
.padding.p25 {
  padding: 25px !important; }
.padding.p20 {
  padding: 20px !important; }
.padding.p15 {
  padding: 15px !important; }
.padding.p10 {
  padding: 10px !important; }
.padding.p5 {
  padding: 5px !important; }
.padding.pt80 {
  padding-top: 80px !important; }
.padding.pt75 {
  padding-top: 75px !important; }
.padding.pt70 {
  padding-top: 70px !important; }
.padding.pt65 {
  padding-top: 65px !important; }
.padding.pt60 {
  padding-top: 60px !important; }
.padding.pt55 {
  padding-top: 55px !important; }
.padding.pt50 {
  padding-top: 50px !important; }
.padding.pt45 {
  padding-top: 45px !important; }
.padding.pt40 {
  padding-top: 40px !important; }
.padding.pt35 {
  padding-top: 35px !important; }
.padding.pt30 {
  padding-top: 30px !important; }
.padding.pt25 {
  padding-top: 25px !important; }
.padding.pt20 {
  padding-top: 20px !important; }
.padding.pt15 {
  padding-top: 15px !important; }
.padding.pt10 {
  padding-top: 10px !important; }
.padding.pt5 {
  padding-top: 5px !important; }
.padding.pt0 {
  padding-top: 0px !important; }
.padding.pb80 {
  padding-bottom: 80px !important; }
.padding.pb75 {
  padding-bottom: 75px !important; }
.padding.pb70 {
  padding-bottom: 70px !important; }
.padding.pb65 {
  padding-bottom: 65px !important; }
.padding.pb60 {
  padding-bottom: 60px !important; }
.padding.pb55 {
  padding-bottom: 55px !important; }
.padding.pb50 {
  padding-bottom: 50px !important; }
.padding.pb45 {
  padding-bottom: 45px !important; }
.padding.pb40 {
  padding-bottom: 40px !important; }
.padding.pb35 {
  padding-bottom: 35px !important; }
.padding.pb30 {
  padding-bottom: 30px !important; }
.padding.pb25 {
  padding-bottom: 25px !important; }
.padding.pb20 {
  padding-bottom: 20px !important; }
.padding.pb15 {
  padding-bottom: 15px !important; }
.padding.pb10 {
  padding-bottom: 10px !important; }
.padding.pb5 {
  padding-bottom: 5px !important; }
.padding.pb0 {
  padding-bottom: 0px !important; }
.padding.pl80 {
  padding-left: 80px !important; }
.padding.pl75 {
  padding-left: 75px !important; }
.padding.pl70 {
  padding-left: 70px !important; }
.padding.pl65 {
  padding-left: 65px !important; }
.padding.pl60 {
  padding-left: 60px !important; }
.padding.pl55 {
  padding-left: 55px !important; }
.padding.pl50 {
  padding-left: 50px !important; }
.padding.pl45 {
  padding-left: 45px !important; }
.padding.pl40 {
  padding-left: 40px !important; }
.padding.pl35 {
  padding-left: 35px !important; }
.padding.pl30 {
  padding-left: 30px !important; }
.padding.pl25 {
  padding-left: 25px !important; }
.padding.pl20 {
  padding-left: 20px !important; }
.padding.pl15 {
  padding-left: 15px !important; }
.padding.pl10 {
  padding-left: 10px !important; }
.padding.pl5 {
  padding-left: 5px !important; }
.padding.pl0 {
  padding-left: 0px !important; }
.padding.pr80 {
  padding-right: 80px !important; }
.padding.pr75 {
  padding-right: 75px !important; }
.padding.pr70 {
  padding-right: 70px !important; }
.padding.pr65 {
  padding-right: 65px !important; }
.padding.pr60 {
  padding-right: 60px !important; }
.padding.pr55 {
  padding-right: 55px !important; }
.padding.pr50 {
  padding-right: 50px !important; }
.padding.pr45 {
  padding-right: 45px !important; }
.padding.pr40 {
  padding-right: 40px !important; }
.padding.pr35 {
  padding-right: 35px !important; }
.padding.pr30 {
  padding-right: 30px !important; }
.padding.pr25 {
  padding-right: 25px !important; }
.padding.pr20 {
  padding-right: 20px !important; }
.padding.pr15 {
  padding-right: 15px !important; }
.padding.pr10 {
  padding-right: 10px !important; }
.padding.pr5 {
  padding-right: 5px !important; }
.padding.pr0 {
  padding-right: 0px !important; }

.margin.m0 {
  margin: 0px !important; }
.margin.m80 {
  margin: 80px !important; }
.margin.m75 {
  margin: 75px !important; }
.margin.m70 {
  margin: 70px !important; }
.margin.m65 {
  margin: 65px !important; }
.margin.m60 {
  margin: 60px !important; }
.margin.m55 {
  margin: 55px !important; }
.margin.m50 {
  margin: 50px !important; }
.margin.m45 {
  margin: 45px !important; }
.margin.m40 {
  margin: 40px !important; }
.margin.m35 {
  margin: 35px !important; }
.margin.m30 {
  margin: 30px !important; }
.margin.m25 {
  margin: 25px !important; }
.margin.m20 {
  margin: 20px !important; }
.margin.m15 {
  margin: 15px !important; }
.margin.m10 {
  margin: 10px !important; }
.margin.m5 {
  margin: 5px !important; }
.margin.mt80 {
  margin-top: 80px !important; }
.margin.mt75 {
  margin-top: 75px !important; }
.margin.mt70 {
  margin-top: 70px !important; }
.margin.mt65 {
  margin-top: 65px !important; }
.margin.mt60 {
  margin-top: 60px !important; }
.margin.mt55 {
  margin-top: 55px !important; }
.margin.mt50 {
  margin-top: 50px !important; }
.margin.mt45 {
  margin-top: 45px !important; }
.margin.mt40 {
  margin-top: 40px !important; }
.margin.mt35 {
  margin-top: 35px !important; }
.margin.mt30 {
  margin-top: 30px !important; }
.margin.mt25 {
  margin-top: 25px !important; }
.margin.mt20 {
  margin-top: 20px !important; }
.margin.mt15 {
  margin-top: 15px !important; }
.margin.mt10 {
  margin-top: 10px !important; }
.margin.mt5 {
  margin-top: 5px !important; }
.margin.mt0 {
  margin-top: 0px !important; }
.margin.mb80 {
  margin-bottom: 80px !important; }
.margin.mb75 {
  margin-bottom: 75px !important; }
.margin.mb70 {
  margin-bottom: 70px !important; }
.margin.mb65 {
  margin-bottom: 65px !important; }
.margin.mb60 {
  margin-bottom: 60px !important; }
.margin.mb55 {
  margin-bottom: 55px !important; }
.margin.mb50 {
  margin-bottom: 50px !important; }
.margin.mb45 {
  margin-bottom: 45px !important; }
.margin.mb40 {
  margin-bottom: 40px !important; }
.margin.mb35 {
  margin-bottom: 35px !important; }
.margin.mb30 {
  margin-bottom: 30px !important; }
.margin.mb25 {
  margin-bottom: 25px !important; }
.margin.mb20 {
  margin-bottom: 20px !important; }
.margin.mb15 {
  margin-bottom: 15px !important; }
.margin.mb10 {
  margin-bottom: 10px !important; }
.margin.mb5 {
  margin-bottom: 5px !important; }
.margin.mb0 {
  margin-bottom: 0px !important; }
.margin.mr80 {
  margin-right: 80px !important; }
.margin.mr75 {
  margin-right: 75px !important; }
.margin.mr70 {
  margin-right: 70px !important; }
.margin.mr65 {
  margin-right: 65px !important; }
.margin.mr60 {
  margin-right: 60px !important; }
.margin.mr55 {
  margin-right: 55px !important; }
.margin.mr50 {
  margin-right: 50px !important; }
.margin.mr45 {
  margin-right: 45px !important; }
.margin.mr40 {
  margin-right: 40px !important; }
.margin.mr35 {
  margin-right: 35px !important; }
.margin.mr30 {
  margin-right: 30px !important; }
.margin.mr25 {
  margin-right: 25px !important; }
.margin.mr20 {
  margin-right: 20px !important; }
.margin.mr15 {
  margin-right: 15px !important; }
.margin.mr10 {
  margin-right: 10px !important; }
.margin.mr5 {
  margin-right: 5px !important; }
.margin.ml80 {
  margin-left: 80px !important; }
.margin.ml75 {
  margin-left: 75px !important; }
.margin.ml70 {
  margin-left: 70px !important; }
.margin.ml65 {
  margin-left: 65px !important; }
.margin.ml60 {
  margin-left: 60px !important; }
.margin.ml55 {
  margin-left: 55px !important; }
.margin.ml50 {
  margin-left: 50px !important; }
.margin.ml45 {
  margin-left: 45px !important; }
.margin.ml40 {
  margin-left: 40px !important; }
.margin.ml35 {
  margin-left: 35px !important; }
.margin.ml30 {
  margin-left: 30px !important; }
.margin.ml25 {
  margin-left: 25px !important; }
.margin.ml20 {
  margin-left: 20px !important; }
.margin.ml15 {
  margin-left: 15px !important; }
.margin.ml10 {
  margin-left: 10px !important; }
.margin.ml5 {
  margin-left: 5px !important; }

/* ---------- GLOBAL HTML ELEMENTS AND CLASSES ---------- */
* {
  margin: 0;
  padding: 0; }

body, p, img {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Helvetica Neue Regular", Arial;
  color: #898D91; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #898D91;
  font-weight: normal; }

h3 {
  font-family: "Helvetica Neue Medium", Arial;
  font-size: 24px;
  color: #333; }

ul li {
  list-style-type: none; }

.container {
  max-width: 1440px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

a.button {
  color: #E50027;
  line-height: 1;
  font-family: "Helvetica Neue Medium", Arial;
  font-size: 18px;
  padding: 16px 30px; }
  a.button:hover {
    text-decoration: none; }
    a.button:hover i {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px);
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }

.hideme {
  opacity: 0; }

/*----------------------------- HEADER -----------------------------*/
.arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  z-index: 9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #fff;
  margin: auto;
  cursor: pointer; }
  .arrow i {
    color: #E50027; }
  .arrow:hover {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0.6; }
    .arrow:hover i {
      -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
              transform: translateY(5px);
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
  .arrow.scrollUp {
    position: fixed;
    left: inherit;
    right: 100px;
    bottom: 100px;
    display: none;
    -webkit-box-shadow: 1px 2px 2px 1px #bbb;
    box-shadow: 1px 2px 2px 1px #bbb; }

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  line-height: 50px; }
  .headerTop a {
    font-family: "Helvetica Neue Regular", Arial;
    font-size: 12px;
    color: #7D7F83;
    text-transform: uppercase; }
    .headerTop a:hover {
      color: #E50027;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      text-decoration: none; }
  .headerTop .part1 {
    padding-left: 60px; }
    .headerTop .part1 a {
      padding-right: 40px; }
  .headerTop .part2 {
    padding-left: 3%; }
    .headerTop .part2 a:first-child {
      background: url("../img/pin.png") left center no-repeat;
      padding: 0 30px 0 20px; }
    .headerTop .part2 a:last-child {
      background: url("../img/rate.png") left center no-repeat;
      padding: 0 0px 0 40px; }
  .headerTop .part3 {
    padding-left: 3%; }
    .headerTop .part3 a {
      background: url("../img/leasing.png") left center no-repeat;
      padding: 0 30px 0 20px; }
  .headerTop .langNav {
    text-align: right; }
    .headerTop .langNav a.active {
      color: #E50027; }

.wrapTop {
  position: relative; }

.navigation {
  position: absolute;
  top: 0px;
  height: 170px;
  z-index: 99;
  width: 100%;
  max-width: 1440px; }

.logo {
  float: left;
  margin: 45px 120px 0 60px; }
  .logo a {
    width: 232px;
    height: 32px;
    display: block;
    background: url("../img/logo.png") left top no-repeat;
    text-indent: -4000px; }

nav {
  padding-top: 60px;
  line-height: 1; }
  nav a {
    color: #fff;
    font-family: "Helvetica Neue Medium", Arial;
    font-size: 14px;
    padding-right: 40px; }
    nav a:hover {
      text-decoration: none;
      color: #E50027;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }

/*------------------ SECTIONS  ------------------*/
section.about {
  padding-top: 150px;
  max-width: 1320px;
  text-align: center; }
  section.about h3 {
    font-size: 32px;
    font-family: "Helvetica Neue Regular", Arial; }
  section.about p {
    max-width: 770px;
    font-size: 18px;
    margin: 0 auto 80px;
    line-height: 150%;
    font-family: "Myriad Pro", Arial; }
  section.about h4 {
    font-family: "Helvetica Neue Thin", Arial;
    color: #E50027;
    font-size: 93px;
    line-height: 100%; }
    section.about h4 span {
      font-family: "Helvetica Neue Light", Arial;
      font-size: 62px; }
      section.about h4 span.number {
        font-family: "Helvetica Neue Thin", Arial;
        color: #E50027;
        font-size: 93px;
        line-height: 100%; }
  section.about h5 {
    text-transform: uppercase;
    font-family: "Helvetica Neue Bold", Arial;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 20px; }
  section.about .flex > div {
    padding: 0 7.5%; }
  section.about .flex.infoWrap {
    border-bottom: 4px solid #F2F2F2;
    padding-bottom: 60px;
    margin-bottom: 30px; }
    section.about .flex.infoWrap p {
      font-size: 14px;
      margin-bottom: 0px; }
    section.about .flex.infoWrap.infoWrapTwo h5 {
      font-size: 32px;
      font-family: "Helvetica Neue Light", Arial;
      color: #333;
      text-transform: none;
      font-weight: normal; }
    section.about .flex.infoWrap.infoWrapTwo > div {
      padding: 0 6.3%; }
  section.about .moreInfo {
    margin-bottom: 200px; }

section.finance {
  max-width: 1320px; }
  section.finance .infoWrap {
    padding-bottom: 140px;
    border-bottom: 4px solid #F2F2F2;
    margin-bottom: 70px; }
  section.finance .textHolder {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 40px; }
    section.finance .textHolder h3 {
      font-size: 42px;
      font-family: "Helvetica Neue Light", Arial; }
    section.finance .textHolder p {
      font-size: 18px;
      padding-right: 20px; }
  section.finance .imageHolder {
    position: relative;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3; }
    section.finance .imageHolder .redDiv {
      background-color: #E50027;
      display: block;
      width: 860px;
      height: 350px;
      position: absolute;
      right: -60px;
      top: -60px;
      z-index: -1; }
    section.finance .imageHolder img {
      z-index: 99; }
    section.finance .imageHolder p {
      margin-bottom: 20px;
      max-width: 780px; }
    section.finance .imageHolder a.button {
      padding-left: 0; }

section.magazine {
  padding-bottom: 60px;
  max-width: 1320px; }
  section.magazine .flex > div {
    padding: 0 3.6%; }
  section.magazine h3 {
    text-align: center;
    margin-bottom: 60px; }
  section.magazine h4 {
    font-size: 13px;
    font-family: "Helvetica Neue Bold", Arial;
    text-transform: uppercase; }
  section.magazine h5 {
    font-size: 19px;
    font-family: "Helvetica Neue Bold", Arial;
    color: #000; }
  section.magazine p {
    margin-bottom: 20px;
    font-size: 14px; }
  section.magazine a.button {
    font-size: 14px;
    padding-left: 0; }
  section.magazine .imageLink {
    display: block;
    position: relative; }
    section.magazine .imageLink img {
      width: 100%;
      vertical-align: middle; }
    section.magazine .imageLink .hoverDiv {
      background-color: rgba(229, 0, 39, 0.5);
      float: none;
      height: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      -webkit-transition: height 0.3s ease-in-out 0s;
      -o-transition: height 0.3s ease-in-out 0s;
      transition: height 0.3s ease-in-out 0s;
      width: 100%; }
      section.magazine .imageLink .hoverDiv i {
        position: absolute;
        margin-left: -15px;
        margin-top: -15px;
        left: 50%;
        top: 50%;
        text-align: center;
        font-size: 30px;
        color: #fff; }
    section.magazine .imageLink:hover .hoverDiv {
      height: 100%;
      -webkit-transition: height 0.3s ease-in-out 0s;
      -o-transition: height 0.3s ease-in-out 0s;
      transition: height 0.3s ease-in-out 0s; }

section.newsletter {
  background-color: #F2F2F2;
  text-align: center;
  padding: 60px 1% 80px;
  border: 1px solid #E6E6E6;
  margin-bottom: 90px; }
  section.newsletter h3 {
    color: #323232;
    font-family: "Helvetica Neue Medium", Arial;
    font-size: 24px; }
  section.newsletter p {
    font-size: 17px;
    margin-bottom: 40px; }
  section.newsletter input {
    border: 1px solid #D4D4D4;
    border-right: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 15px;
    font-family: "Helvetica Neue Regular", Arial;
    color: #A7A7A7;
    padding: 10px;
    width: 450px; }
    section.newsletter input.submit {
      width: 185px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      background-color: #E50027;
      color: #fff;
      border: 1px solid #E50027;
      margin-left: -5px;
      cursor: pointer; }
      section.newsletter input.submit:hover {
        opacity: 0.7;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        text-decoration: none; }

section.contact {
  text-align: center;
  padding-bottom: 90px;
  margin-bottom: 50px;
  border-bottom: 4px solid #F2F2F2; }
  section.contact p {
    font-size: 17px;
    max-width: 600px;
    margin: 0 auto 50px;
    line-height: 140%; }
  section.contact a.buttonWhite {
    border: 2px solid #E50027;
    color: #E50027;
    font-family: "Helvetica Neue Medium", Arial;
    font-size: 14px;
    padding: 15px 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px; }
    section.contact a.buttonWhite:hover {
      text-decoration: none;
      background-color: #E50027;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      color: #FFF; }
  section.contact .contactFormWrapper {
    display: none;
    padding: 60px 0 0;
    margin: 0 auto 20px;
    max-width: 1340px; }
    section.contact .contactFormWrapper form {
      width: 660px;
      margin: 0 auto; }
      section.contact .contactFormWrapper form .holder {
        text-align: left; }
        section.contact .contactFormWrapper form .holder input, section.contact .contactFormWrapper form .holder textarea {
          border: none;
          border-bottom: 1px solid #898D91;
          width: 100%;
          color: #A6A5A8; }
        section.contact .contactFormWrapper form .holder input.checkbox {
          float: left;
          width: auto;
          margin: 6px 5px 0 0; }
        section.contact .contactFormWrapper form .holder input.submit {
          float: right;
          background-color: #E50027;
          border-bottom: none;
          color: #fff;
          padding: 10px 50px;
          width: auto;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 60px; }
          section.contact .contactFormWrapper form .holder input.submit:hover {
            opacity: 0.7;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            text-decoration: none; }
        section.contact .contactFormWrapper form .holder label.checkBoxLabel {
          font-size: 12px; }
          section.contact .contactFormWrapper form .holder label.checkBoxLabel a {
            text-decoration: underline;
            color: #A6A5A8; }
        section.contact .contactFormWrapper form .holder.closeHolder {
          border-bottom: 1px solid #EBEBEB;
          padding-bottom: 10px; }
          section.contact .contactFormWrapper form .holder.closeHolder a {
            float: right;
            color: #A6A5A8; }
            section.contact .contactFormWrapper form .holder.closeHolder a:hover {
              opacity: 0.7;
              -webkit-transition: all 0.4s ease-in-out 0s;
              -o-transition: all 0.4s ease-in-out 0s;
              transition: all 0.4s ease-in-out 0s;
              text-decoration: none; }

footer .footerNav {
  margin: 0 auto 80px;
  max-width: 1200px; }
  footer .footerNav .flex .links {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    footer .footerNav .flex .links a {
      display: block;
      color: #676B6D;
      margin-bottom: 30px;
      font-size: 14px;
      font-family: "Helvetica Neue Medium", Arial;
      line-height: 1; }
      footer .footerNav .flex .links a.first {
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 60px; }
      footer .footerNav .flex .links a:hover {
        opacity: 0.7;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        text-decoration: none; }
    footer .footerNav .flex .links .social {
      margin-top: 60px; }
      footer .footerNav .flex .links .social a {
        display: inline;
        font-size: 22px;
        margin-right: 10px; }
  footer .footerNav .website {
    padding-top: 85px; }
    footer .footerNav .website p {
      font-family: "Helvetica Neue Medium", Arial;
      font-size: 13px;
      margin-bottom: 30px; }
      footer .footerNav .website p a {
        color: #E50027;
        font-size: 14px;
        text-transform: none; }
        footer .footerNav .website p a:hover {
          text-decoration: none; }
          footer .footerNav .website p a:hover i {
            -webkit-transform: translateX(10px);
                -ms-transform: translateX(10px);
                    transform: translateX(10px);
            -webkit-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s; }
footer .footerBottom {
  margin: 0 auto 25px;
  padding-top: 25px;
  border-top: 1px solid #CBCBCB; }
  footer .footerBottom .container {
    max-width: 1200px; }
    footer .footerBottom .container a {
      color: #A5A5A5;
      font-size: 10px;
      text-transform: uppercase; }
    footer .footerBottom .container .left a {
      margin-right: 20px; }
    footer .footerBottom .container .right a {
      margin-left: 20px; }

/*------------------ Plugins - styles override  ------------------*/
.carousel-control-next, .carousel-control-prev {
  width: 8%; }

.carousel-indicators {
  right: 12%;
  bottom: 20%;
  left: inherit; }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 5px; }
  .carousel-indicators .active {
    background-color: #E50027; }

.carousel-caption {
  position: absolute;
  left: 120px;
  bottom: 0;
  top: 0;
  right: initial;
  margin: auto;
  max-height: 300px;
  max-width: 600px;
  text-align: left; }
  .carousel-caption span {
    color: #fff;
    text-transform: uppercase;
    background-color: #E50027;
    font-size: 14px;
    padding: 5px 10px; }
  .carousel-caption h5 {
    color: #fff;
    font-size: 57px;
    margin-top: 40px; }
  .carousel-caption p {
    font-family: "Myriad Pro", Arial;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 140%; }
  .carousel-caption a.button {
    background-color: #fff;
    padding: 16px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    font-size: 14px; }
    .carousel-caption a.button i {
      margin-left: 15px; }

/*---------------------------------------- RESPONSIVE DESIGN  ----------------------------------------*/
@media screen and (max-width: 1528px) {
  .container {
    max-width: 1140px; }
    .container img.coverImg {
      max-width: 100%; }
    .container .headerTop .part1 {
      padding-left: 0; }

  section.about {
    padding-top: 60px; }
    section.about h4 {
      font-size: 60px; }
      section.about h4 span {
        font-size: 40px; }
        section.about h4 span.number {
          font-size: 60px; }
    section.about p {
      margin-bottom: 50px; }
    section.about .moreInfo {
      margin-bottom: 100px; }

  section.finance .infoWrap {
    padding-bottom: 50px; }
  section.finance .imageHolder img {
    max-width: 100%; } }
@media screen and (max-width: 1276px) {
  .container {
    max-width: 960px; }
    .container .headerTop .col-lg-3 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      max-width: 30%; }
      .container .headerTop .col-lg-3.langNav {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 10%;
                flex: 0 0 10%;
        max-width: 10%; }
    .container .headerTop .part1 a {
      padding-right: 10px; }
    .container .logo {
      margin: 45px 30px 0 30px; }
    .container .headerTop .part2 {
      padding-left: 0px; }
    .container .headerTop .part3 {
      padding-left: 0px; }
      .container .headerTop .part3 a {
        padding-right: 0px; }

  .carousel-caption h5 {
    font-size: 32px; }

  section.finance .imageHolder .redDiv {
    width: 500px;
    height: 300px; }
  section.finance .textHolder h3 {
    font-size: 30px; } }
@media screen and (min-width: 1097px) {
  .mobileNav, .mobileNavLinks {
    display: none; } }
@media screen and (max-width: 1096px) {
  .container {
    max-width: 720px; }
    .container .logo {
      margin: 30px 20px 0 30px; }
    .container .mobileNav {
      display: block;
      position: absolute;
      right: 30px;
      top: 30px; }
      .container .mobileNav a i {
        color: #fff; }
    .container .mobileNavLinks {
      display: none;
      position: absolute;
      width: 100%;
      background: black;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left top, left bottom, from(black), to(#4c4c4c));
      background: -o-linear-gradient(top, black 0%, #4c4c4c 100%);
      background: linear-gradient(to bottom, black 0%, #4c4c4c 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c',GradientType=0 );
      /* IE6-9 */ }
      .container .mobileNavLinks a {
        color: #fff; }
      .container .mobileNavLinks .top {
        padding: 20px 25px 20px 30px;
        border-bottom: 1px solid #606060; }
        .container .mobileNavLinks .top a {
          color: #9a9a9a;
          font-size: 15px; }
          .container .mobileNavLinks .top a:hover {
            text-decoration: none; }
          .container .mobileNavLinks .top a i {
            color: #E50027; }
        .container .mobileNavLinks .top .socialLinks a {
          margin-right: 20px;
          font-size: 20px; }
          .container .mobileNavLinks .top .socialLinks a i {
            color: #9a9a9a; }
      .container .mobileNavLinks .mobileNavigation {
        margin-bottom: 70px; }
        .container .mobileNavLinks .mobileNavigation a {
          color: #fff;
          font-size: 16px;
          display: block;
          padding: 20px 26px;
          border-bottom: 1px solid #606060;
          border-left: 4px solid transparent; }
          .container .mobileNavLinks .mobileNavigation a:hover {
            border-left: 4px solid #E50027;
            opacity: 0.7;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            text-decoration: none;
            opacity: 1;
            color: #E50027; }
      .container .mobileNavLinks a.location {
        color: #9a9a9a;
        background: url("../img/pin.png") left center no-repeat;
        padding: 0 30px 0 20px;
        margin-left: 30px; }
        .container .mobileNavLinks a.location:hover {
          opacity: 0.7;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -o-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
          text-decoration: none; }
      .container .mobileNavLinks .langNavigation {
        margin: 170px 30px 60px; }
        .container .mobileNavLinks .langNavigation a {
          text-transform: uppercase;
          color: #fff;
          font-size: 15px; }
          .container .mobileNavLinks .langNavigation a.active {
            color: #E50027; }
          .container .mobileNavLinks .langNavigation a:hover {
            opacity: 0.7;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            text-decoration: none; }
    .container .part2, .container .part3, .container .langNav, .container nav, .container .carousel-caption span, .container .carousel-caption p {
      display: none; }
    .container .carousel-caption {
      width: 30%;
      left: 60px; }
      .container .carousel-caption h5 {
        font-size: 22px;
        margin-bottom: 40px; }

  .flex.block {
    display: block; }
    .flex.block.infoWrap > div {
      margin-bottom: 40px;
      max-width: 100% !important;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }

  section.finance .textHolder {
    padding-left: 0; }
    section.finance .textHolder .padding.pl30 {
      padding-left: 0 !important; }
  section.finance .imageHolder .redDiv {
    right: -30px;
    top: -30px; } }
@media screen and (max-width: 796px) {
  .container {
    max-width: 540px; }
    .container .headerTop .col-lg-3 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }

  .navigation {
    height: auto; }

  .carousel-caption {
    top: inherit;
    bottom: 20px; }
    .carousel-caption a.button {
      padding: 10px 15px;
      font-size: 12px; }

  section.contact .contactFormWrapper form {
    width: 100%; }

  footer .footerNav .flex .links a {
    margin-bottom: 10px;
    font-size: 10px; }
    footer .footerNav .flex .links a.first {
      margin-bottom: 10px;
      font-size: 10px; }
  footer .footerNav .flex .social a {
    font-size: 18px; }

  section.newsletter input {
    width: 55%; }
    section.newsletter input.submit {
      width: 35%; } }
@media screen and (max-width: 616px) {
  .container {
    max-width: 480px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 2%; }
    .container .logo a {
      width: 180px;
      height: 24px;
      background-size: contain; }
    .container .mobileNav a i {
      font-size: 24px; }

  a.button {
    padding: 0;
    font-size: 12px; }

  section.about .moreInfo {
    margin-bottom: 40px; }

  section.finance .imageHolder .redDiv {
    display: none; }

  section.contact .contactFormWrapper {
    padding-bottom: 20px;
    margin-bottom: 20px; }
  section.contact a.buttonWhite {
    padding-left: 50px;
    padding-right: 50px; }

  footer .footerNav .flex .links .social {
    margin-top: 30px; }
    footer .footerNav .flex .links .social a {
      font-size: 22px; }
  footer .footerNav .flex.blockFooter {
    display: block; }
    footer .footerNav .flex.blockFooter .links {
      margin-bottom: 15px; }
      footer .footerNav .flex.blockFooter .links a {
        display: inline-block; }
        footer .footerNav .flex.blockFooter .links a.first {
          display: block; } }
