$linkColor: #7D7F83;
$red: #E50027;
$helveticaRegular: 'Helvetica Neue Regular', Arial;
$helveticaMedium: 'Helvetica Neue Medium', Arial;
$helveticaLight: 'Helvetica Neue Light', Arial;
$helveticaThin: 'Helvetica Neue Thin', Arial;
$helveticaBold: 'Helvetica Neue Bold', Arial;
$myriadPro: 'Myriad Pro', Arial;

